@font-face {
	font-family: 'CantataOne';
	src: url('Cantata_One/CantataOne-Regular.ttf');
	src: local('CantataOne-Regular'),
	url('Cantata_One/CantataOne-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Sarabun';
	src: url('Sarabun/Sarabun-Regular.ttf');
	src: local('Sarabun-Regular'),
	url('Sarabun/Sarabun-Regular.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Sarabun';
	src: url('Sarabun/Sarabun-Medium.ttf');
	src: local('Sarabun-Medium'),
	url('Sarabun/Sarabun-Medium.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Sarabun';
	src: url('Sarabun/Sarabun-SemiBold.ttf');
	src: local('Sarabun-SemiBold'),
	url('Sarabun/Sarabun-SemiBold.ttf') format('truetype');
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: 'Swis721 Black BT';
	src: url('Swiz 721/SWZ721K.ttf');
	src: local('Swis721 Black BT'),
	url('Swiz 721/SWZ721K.ttf') format('truetype');
	font-weight: 900;
	font-style: normal;
}