@media (min-width: 1440px) {
  .main__seo {
    right: 5%;
  }
}
@media (max-width: 1200px) {
  .main__seo {
    width: 30.2%;
    bottom: 2%;
    right: 2%;
  }
  .main__seo-img {
    left: 5%;
  }
}
@media (max-width: 991px) {
  .main__seo-img {
    left: -4%;
  }
  .main h1 {
    margin-top: 100px;
    font-size: 2em;
  }
  .main__seo_title {
    letter-spacing: 0;
    font-size: 4em;
  }
  .main__seo_description {
    font-size: 1.2em;
  }
  .footer {
    margin-top: 100px;
  }
}
@media (max-width: 768px) {
  .main__seo {
    width: 35%;
  }
  .header__nav ul {
    grid-template-columns: repeat(3, 28.2%);
  }
  .vertical-line div:nth-of-type(2) {
    left: 49%;
  }
  .vertical-line div:last-of-type {
    left: 69%;
  }
}
@media (max-width: 576px) {
  .header__menu {
    display: block;
  }
  .header__nav {
    width: 100%;
    display: none;
    margin-left: 0;
    position: absolute;
    top: 8%;
    left: 0;
  }
  .header__nav ul {
    grid-template-columns: repeat(3, 1fr);
    text-align: center;
  }
  .header__nav ul li {
    padding: 10px 5%;
  }
  .vertical-line div:first-of-type {
    left: 16.66666667%;
  }
  .vertical-line div:nth-of-type(2) {
    left: 50%;
  }
  .vertical-line div:last-of-type {
    left: 83.33333333%;
  }
  .main h1 {
    font-size: 1.8em;
  }
  .main__seo_title {
    font-size: 3em;
    letter-spacing: 0.1em;
  }
  .main__seo_description {
    font-size: 1em;
  }
  .main__seo-img {
    transform: scale(0.9);
  }
  .footer {
    margin-top: 50px;
  }
  .footer__create-websites {
    margin-left: 5.5%;
    font-size: 1em;
    line-height: 1.1em;
  }
}
@media (max-width: 480px) {
  .main__seo {
    width: 42%;
  }
  .main__seo_title {
    font-size: 2.5em;
  }
  .main__seo_description {
    font-size: 0.9em;
    line-height: 1em;
  }
}
@media (max-width: 370px) {
  .main h1 {
    font-size: 1.5em;
  }
  .main__seo-img {
    transform: scale(0.9);
  }
  .main__seo_title {
    font-size: 2em;
  }
  .main__seo_description {
    font-size: 0.7em;
    line-height: 0.9em;
  }
  .footer {
    margin-top: 40px;
  }
  .footer__create-websites {
    font-size: 1em;
    line-height: 1em;
  }
}
