/* Links fonts (START) */
@import "font/stylesheet.css";
/* Links fonts (END) */
/* start colors */
/* colors end */
/* font-face start */
/* font-face end */
/* variables start */
/* variables start */
img,
iframe,
video,
embed {
  max-width: 100% !important;
}
body {
  width: 100%;
  background-color: #E5E5E5;
  font-family: 'Sarabun', sans-serif;
  font-size: 16px;
  color: #000;
  position: relative;
  min-height: 100vh;
}
.vertical-line {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  z-index: -1;
}
.vertical-line div:first-of-type {
  position: absolute;
  height: inherit;
  left: 29%;
  border-left: 1px solid #CBCBCB;
}
.vertical-line div:nth-of-type(2) {
  position: absolute;
  height: inherit;
  left: 44.3%;
  border-left: 1px solid #CBCBCB;
}
.vertical-line div:last-of-type {
  position: absolute;
  height: inherit;
  left: 59.6%;
  border-left: 1px solid #CBCBCB;
}
.clearFix::after {
  content: "";
  display: table;
  clear: both;
}
.visible {
  display: block !important;
}
/* Header styles start */
.header {
  width: 100%;
}
.header__logo {
  margin: 2.5625em 0 0 2.56%;
  float: left;
  width: fit-content;
}
.header__logo a {
  color: #000;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 1.125em;
  line-height: 23px;
  transition: all 0.3s ease;
}
.header__logo a:hover {
  padding-bottom: 2px;
  border-bottom: 1px solid #000;
}
.header__nav {
  margin-left: 29%;
}
.header__nav ul {
  padding-top: 11px;
  display: grid;
  grid-template-columns: repeat(3, 21.51%);
}
.header__nav ul li {
  padding: 20px 0 0 9.1%;
}
.header__nav ul li a {
  font-size: 0.875em;
  font-weight: 500;
  color: #000;
  line-height: 1.29em;
  letter-spacing: 0.06em;
  transition: all 0.3s ease;
  box-sizing: border-box;
}
.header__nav ul li a:hover {
  color: #512116;
}
.header__menu {
  display: none;
}
.header__menu_button {
  display: block;
  width: 20%;
  box-sizing: border-box;
  border-radius: 5px;
  border: 1px solid #a1aff1;
  padding: 7px 0;
  position: absolute;
  top: 4%;
  left: 0;
  right: 0;
  margin: auto;
  transition: all 0.3s ease;
  cursor: pointer;
}
.header__menu_button:hover {
  background-color: lavender;
  border-color: gold;
  color: crimson;
}
.header__menu_button:active,
.header__menu_button:focus {
  outline: none;
}
/* Header styles the end */
/* The beginning styles of a main content page */
.main {
  width: 100%;
}
.main h1 {
  width: fit-content;
  font-family: 'CantataOne', sans-serif;
  font-size: 2.8125em;
  line-height: 57px;
  letter-spacing: 0.06em;
  margin: 230px 0 0 5.76%;
  z-index: 5;
}
.main__seo-img {
  display: block;
  position: absolute;
  bottom: 0;
  right: 14.4%;
  z-index: -1;
}
.main__seo {
  width: 27.2%;
  z-index: 2;
  position: absolute;
  bottom: 10%;
  right: 10%;
}
.main__seo_title {
  font-family: 'Swis721 Black BT', sans-serif;
  font-weight: 900;
  font-size: 7.25em;
  letter-spacing: 0.06em;
}
.main__seo_description {
  padding: 5px 0 0 5.8%;
  font-weight: 500;
  font-size: 1.625em;
  line-height: 1.31em;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
.main__seo::after {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: bottom;
}
/* The end styles of a main content page */
/* The beginning styles of footer page */
.footer {
  width: 100%;
  margin-top: 237px;
  padding-bottom: 196px;
}
.footer__create-websites {
  margin-left: 5.5%;
  font-size: 1.125em;
  line-height: 1.27em;
  letter-spacing: 0.06em;
}
/* The end styles of footer page */
