// 1440px -(min)
@media (min-width: 1440px) {
    .main__seo {
        right: 5%;
    }
}


//1200px - max
@media (max-width: 1200px) {
    .main__seo {
        width: 30.2%;
        bottom: 2%;
        right: 2%;
        
        &-img {
            left: 5%;
        }
    }
}


// 960px - (max)
@media (max-width: 991px) {
    .main {
        &__seo-img {
            left: -4%;
        }
        
        h1 {
            margin-top: 100px;
            font-size: 2em;
        }
        
        &__seo_title {
            letter-spacing: 0;
            font-size: 4em;
        }
        
        &__seo_description {
            font-size: 1.2em;
        }
    }
    
    .footer {
        margin-top: 100px;
    }
}


// 768px - (max)
@media (max-width: 768px) {
    .main__seo {
        width: 35%;
    }
    
    .header__nav ul {
        grid-template-columns: repeat(3, 28.2%);
    }
    
    .vertical-line {
        & div:nth-of-type(2) {
            left: 29% + 20%;
        }
        
        & div:last-of-type {
            left: 29% + 20% * 2;
        }
    }
}


// 576px - (max)
@media (max-width: 576px) {
    .header {
        &__menu {
            display: block;
        }
        
        &__nav {
            width: 100%;
            display: none;
            margin-left: 0;
            position: absolute;
            top: 8%;
            left: 0;
            
            & ul {
                grid-template-columns: repeat(3, 1fr);
                text-align: center;
                
                & li {
                    padding: 10px 5%;
                }
            }
        }
    }
    
    .vertical-line {
        & div:first-of-type {
            left: 100% / 3 / 2;
        }
        
        & div:nth-of-type(2) {
            left: 100% / 3 / 2 + 100% / 3;
        }
        
        & div:last-of-type {
            left: 100% / 3 / 2 + 100% / 3 * 2;
        }
    }
    
    .main {
        h1 {
            font-size: 1.8em;
        }
        
        &__seo {
            &_title {
                font-size: 3em;
                letter-spacing: 0.1em;
            }
            
            &_description {
                font-size: 1em;
            }
        }
        
        &__seo-img {
            transform: scale(0.9);
        }
    }
    
    .footer {
        margin-top: 50px;
        
        &__create-websites {
            margin-left: 5.5%;
            font-size: 1em;
            line-height: 1.1em;
        }
    }
}


// 480px - (max)
@media (max-width: 480px) {
    .main {
        &__seo {
            width: 42%;
            
            &_title {
                font-size: 2.5em;
            }
            
            &_description {
                font-size: 0.9em;
                line-height: 1em;
            }
        }
    }
}


// 370px - (max)
@media (max-width: 370px) {
    .main {
        h1 {
            font-size: 1.5em;
        }
        
        &__seo-img {
            transform: scale(0.9);
        }
        
        &__seo {
            &_title {
                font-size: 2em;
            }

            &_description {
                font-size: 0.7em;
                line-height: 0.9em;
            }
        }
    }
    
    .footer {
        margin-top: 40px;
        
        &__create-websites {
            font-size: 1em;
            line-height: 1em;
        }
    }
}
