/* Links fonts (START) */
@import "font/stylesheet.css";
/* Links fonts (END) */


/* start colors */
@color__text-color: #000;
@color__text-color_hover: #512116;
@color__background-color: #E5E5E5;
@color__vertical-line: #CBCBCB;
@color__menu-button: #a1aff1;
@color__menu-button_border-hover: gold;
@color__menu-button_color: crimson;
@color__menu-button_background: lavender;
/* colors end */


/* font-face start */
@swis: 'Swis721 Black BT', sans-serif;
@contata: 'CantataOne', sans-serif;
@sarabun: 'Sarabun', sans-serif;
@weightRegular: 400;
@weightMedium: 500;
@weightSemibold: 600;
@weightHeavy: 900;
/* font-face end */


/* variables start */
@margin-nav-left: 29%;
@width-nav-column: 15.3%;
/* variables start */


img,
iframe,
video,
embed {
    max-width: 100% !important;
}

body {
    width: 100%;
    background-color: @color__background-color;
    font-family: @sarabun;
    font-size: 16px;
    color: @color__text-color;
    position: relative;
    min-height: 100vh;
}

.vertical-line {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    z-index: -1;
    
    & div:first-of-type {
        position: absolute;
        height: inherit;
        left: @margin-nav-left;
        border-left: 1px solid @color__vertical-line;
    }
    
    & div:nth-of-type(2) {
        position: absolute;
        height: inherit;
        left: @margin-nav-left + @width-nav-column;
        border-left: 1px solid @color__vertical-line;
    }
    
    & div:last-of-type {
        position: absolute;
        height: inherit;
        left: @margin-nav-left + @width-nav-column * 2;
        border-left: 1px solid @color__vertical-line;
    }
}

.clearFix::after {
    content: "";
    display: table;
    clear: both;
}

.visible {
    display: block !important;
}


/* Header styles start */
.header {
    width: 100%;
    
    &__logo {
        margin: 2.5625em 0 0 2.56%;
        float: left;
        width: fit-content;
        
        & a {
            color: @color__text-color;
            font-weight: @weightSemibold;
            text-transform: uppercase;
            font-size: 1.125em;
            line-height: 23px;
            transition: all 0.3s ease;
            
            &:hover {
                padding-bottom: 2px;
                border-bottom: 1px solid @color__text-color;
            }
        }
    }
    
    &__nav {
        margin-left: @margin-nav-left;
        
        & ul {
            padding-top: 11px;
            display: grid;
            grid-template-columns: repeat(3, 21.51%);
            
            & li {
                padding: 20px 0 0 9.1%;
                
                & a {
                    font-size: 0.875em;
                    font-weight: @weightMedium;
                    color: @color__text-color;
                    line-height: 1.29em;
                    letter-spacing: 0.06em;
                    transition: all 0.3s ease;
                    box-sizing: border-box;
                    
                    &:hover {
                        color: @color__text-color_hover;
                    }
                }
            }
        }
    }
    
    &__menu {
        display: none;
        
        &_button {
            display: block;
            width: 20%;
            box-sizing: border-box;
            border-radius: 5px;
            border: 1px solid @color__menu-button;
            padding: 7px 0;
            position: absolute;
            top: 4%;
            left: 0;
            right: 0;
            margin: auto;
            transition: all 0.3s ease;
            cursor: pointer;
            
            
            &:hover {
                background-color: @color__menu-button_background;
                border-color: @color__menu-button_border-hover;
                color: @color__menu-button_color;
            }
            
            &:active,
            &:focus {
                outline: none;
            }
        }
    }
}

/* Header styles the end */


/* The beginning styles of a main content page */

.main {
    width: 100%;
    
    & h1 {
        width: fit-content;
        font-family: @contata;
        font-size: 2.8125em;
        line-height: 57px;
        letter-spacing: 0.06em;
        margin: 230px 0 0 5.76%;
        z-index: 5;
    }
    
    &__seo-img {
        display: block;
        position: absolute;
        bottom: 0;
        right: 14.4%;
        z-index: -1;
    }
    
    &__seo {
        width: 27.2%;
        z-index: 2;
        position: absolute;
        bottom: 10%;
        right: 10%;
        
        
        &_title {
            font-family: @swis;
            font-weight: @weightHeavy;
            font-size: 7.25em;
            letter-spacing: 0.06em;
        }
        
        &_description {
            padding: 5px 0 0 5.8%;
            font-weight: @weightMedium;
            font-size: 1.625em;
            line-height: 1.31em;
            letter-spacing: 0.06em;
            text-transform: uppercase;
        }
        
        &::after {
            content: '';
            display: inline-block;
            height: 100%;
            vertical-align: bottom;
        }
    }
}

/* The end styles of a main content page */


/* The beginning styles of footer page */
.footer {
    width: 100%;
    margin-top: 237px;
    padding-bottom: 196px;
    
    &__create-websites {
        margin-left: 5.5%;
        font-size: 1.125em;
        line-height: 1.27em;
        letter-spacing: 0.06em;
    }
}

/* The end styles of footer page */
